#vitre {


  .accordion{
    width: 600px !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    color: #559bd8;
    cursor: pointer;
    font-size: 1.2rem;
    
    @media screen and (max-width: 600px) {
      width: 400px !important;
      
    }
    .accordion-button{
      color: #181949;

    }
    
    .accordion-item {
      background-color: #3a0d5f !important;
      color: white;
      font-size: medium;

      @media screen and (max-width: 600px) {
        font-size:small;
        
      }
      .accordion-button{
      box-shadow: none;
      }
    }
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}