section {
    margin-top: 2rem;
    margin-bottom: 2rem;

    .titre {
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
        background-image: linear-gradient($grad-lin-font-title);
        font-family: "Raleway";
        text-align: left;
        margin: 0.5rem;
        padding-left: 2rem;

        @media screen and (max-width: 600px) {
            font-size: 1.5rem;
        }
    }

    .presentation {
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
        background: linear-gradient($grad-lin-s);
        margin-bottom: 2rem;
        position: relative;

        img {
            height: 15rem;
            width: 25rem;
            border-radius: 1rem;
            margin: 1.5rem;

            
        }

        .btn-dir {
            height: 100px;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 80px;
            background: linear-gradient($color-btn-direction);
            border: 1px solid rgb(117, 15, 130);
            position: absolute;
            top: 35%;
            left: 92%;
            z-index: 4;
            opacity: 60%;

            &:hover {
                transition: opacity 0.4s ease-in;
                opacity: 100%;
            }

            @media screen and (max-width: 600px) {
                left: 80%;
                height: 90px;
                width: 90px;
            }


            img {
                transform: none;
                height: 80%;
                width: 80%;
                opacity: 50%;

                &:hover {
                    transition: opacity 0.4s ease-in;
                    opacity: 100%;
                }
            }
        }

        .boutnft {
            cursor: pointer;
            position: relative;

            @media screen and (max-width: 600px) {
                display: none;
            }

            &:first-child {

                @media screen and (max-width: 600px) {
                    display: block !important;
                }
            }

            .overlay {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                box-sizing: border-box;
                background: rgba(188, 183, 183, 0.388);
                width: 89.4%;
                height: 0;
                text-align: center;
                line-height: 256px;
                transition: 0.25s ease-in;
                z-index: -1;
                border-radius: 1rem;
                margin: 1.5rem;

                span {
                    padding: 0.5rem;
                    display: none;
                }

                
            }

            &:hover .overlay,
            &:hover span {
                height: 83.4%;
                z-index: 1;
                display: block;
            }
        }
    }
}