nav {
    ul {
        margin-top: 1rem;
        margin-bottom: 0;
        li {
            display: flex;
            display: inline;
            margin: 5px;
            font-size: 1.5rem;
            margin-right: 2rem;

            a {
                color: rgb(209, 225, 239);

                &:hover{
                    color: rgb(101, 246, 246);
                }
            }

            
        }
    }
}