.modal {
    background: linear-gradient($color-overlay);
    width: 100%;
    font-family: "Quicksand";

    .modal-dialog {
        margin-top: 2rem;
        @media screen and (max-width: 600px) {   
            width: 400px;
              
        }

        .modal-content {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


            .modal-header {
                .modal-title {
                    text-transform: uppercase;
                    margin-left: auto;
                    margin-right: auto;
                }
            }

            .modal-body {
                form {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;

                    div {
                        margin: 1rem;

                        img {
                            width: 40px;
                        }

                        input {
                            margin-left: 1rem;
                            background: #dbe2f0;
                            box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
                            border-radius: 48px;
                            padding-left: 10px;
                            border: 0;

                        }
                    }

                    .btn {
                        background: #DBE2F0;
                        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                        border-radius: 48px;
                        width: 200px;
                    }
                }
            }

            .modal-footer {
                margin-left: auto;
                margin-right: auto;
            }


        }
    }

    .back {
        margin-top: 1rem;
    }
}